akshare
pandas==1.5.3
pytz
easyquotation
scipy
tqdm
requests==2.28.2
retrying
psutil
pyspark==3.3.2
pyarrow
matplotlib
pymysql
SQLAlchemy==1.4.39
DBUtils
pyquery
emoji
beautifulsoup4==4.11.1
html5lib==1.1
streamlit-echarts
empyrical==0.5.5
tushare
